.jaat{
    position: relative;
    text-align: center;
    color: white;
    }

.haryana{
    position: absolute;
    top: 60%;
    left: 40%;
    font-size: 150px;
}

body{ 
    background-color: cadetblue;
    font-family: Arial, Helvetica, sans-serif;
}


nav ul{
    margin: 2%;
    padding: 2%;
    margin-left: 40%;
    list-style-type: none;
}
nav li {
    display: inline-block;
    font-size: 25px;
    width: 200px;
    height: 30px;
}

.aarti{
    float: left;
    width: auto;

}

main p{
    margin-left: 7%;
    margin-right: 42%;
}

.harshit{
    margin-left: 32%;

}

h1 {
  color: white;  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.facts{
    margin-left: 32%;
}

.border {
    padding: 10px;
   margin-left: 32%;
   margin-right: 28%;
}
.wide {
    width: 98%;
}
textarea {
    width: 98%;
}
 